.Select-item {
  color: black;
  background-color: white;
  border-color: white white white white;
}

.Select-item-label {
  color: black;
  background-color: white;
  border-color: white white white white;
}

.Select-item-icon {
  display: none;
  border-color: white white white white;
}

.btn-group button {
  font-size: 16px;
}

.panel-heading {
  background-color: white;
}